.traffic-lights {
    background-color: black;
    height: auto;
    width: 100px;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.traffic-light-pole {
    height: 150px;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}